ul {
    list-style-type: none; /* removes bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
  
header li {
    float: left; /* Make elements float next to each other */
}
  
header li a {
    display: block; /* Allows to specify padding, margin, width, and height */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
header li a:hover:not(.active) {
    background-color: black;
}
  
.active {
    background-color: green;
}
  